.container {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

svg {
  height: 70px;
  width: 120px;
}

a {
  font-size: 20px;
}

input {
  border: none;
  background-color: white;
  padding: 10px 0 10px 10px;
  border-radius: 20px;
}

input:focus {
  outline: 0;
}

.searchLogout {
  display: flex;
  align-items: center;
  gap: 20px;
}

i {
  color: #ffbb2f;
  cursor: pointer;
  transition: ease 0.3s;
  font-size: 25px;
}

i:hover {
  transform: scale(1.2);
}

a {
  color: #ffbb2f;
  cursor: pointer;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 70% 15%;
}

aside {
  background-color: #eeeeee;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: #176b87;
}

.card {
  margin-bottom: 30px;
  background-color: #053b50;
  transition: ease 0.3s;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
}

.image {
  position: relative;
  cursor: pointer;
  max-width: 100%;
}

/* .image img {
  height: 100%;
  width: 100%;
  background-position: center;
} */

.image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../../assets/images/play-button.svg);
  background-position: center center;
  background-size: initial;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
  opacity: 0;
}
.image:hover:before {
  opacity: 1;
}

.rating {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffbb2f;
  padding: 4px 7px;
  color: black;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}

.addToFav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 7px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  background: #ffbb2f;
}

.addToFav i {
  color: #053b50 !important;
  font-size: 20px;
}

img {
  max-width: 100%;
}

.details {
  padding: 10px;
}
h4,
p,
span {
  color: #eeeeee;
}

.favBtnsWrapper:not(:first-child) {
  padding-top: 20px;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 605px;
  border-radius: 5px;
  z-index: 999;
  animation: fade-out 4s ease;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 991px) {
  section {
    grid-template-columns: repeat(3, 28%);
  }
}
@media only screen and (max-width: 767px) {
  section {
    grid-template-columns: repeat(2, 40%);
  }
}
@media only screen and (max-width: 575px) {
  section {
    grid-template-columns: repeat(1, 80%);
  }
}
