/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-movie-list,
app-favorites-movies {
  width: 100%;
  float: left;
  background-color: #176b87;
}
